
<div class="row tableRow">
	<div class="col-sm-3">
		<div class="well imgWell">
			<img class="itemImage img-responsive" ng-src="{{auction.itemImage}}" alt="">
			<h2 class="items">{{auction.item}}</h2>
			
				<h5 class="description">{{auction.itemDescription}}</h5>
				<button class="btn btn-lg addIt" ng-click="editAuction(auction)" >Make Bid!</button>	
		</div>
	</div>

	<div class="itemInfo col-sm-5">
		<h5 class="detailInfo">Auction Host: {{auction.username}}</h5></br></br>
		<h5 class="detailInfo">Initial Bid: {{auction.initialBid | currency}}</h5></br></br>
		<h5 class="detailInfo">Highest Bid: {{auction.highestBid.value | currency}}</h5></br>
		<h5 class="detailInfo">Highest Bid By: {{user.username}}</h5></br>
		<h5 class="detailInfo expires green">Auction Expires: {{auction.exp | date: "MM/dd/yyyy 'at' h:mma"}}</br><strong class="red" countdown end-date="{{auction.exp}}" units="days|hours|minutes|seconds"></strong></h5></br></br>
	</div>
</div>

<div class="row formRow" ng-hide="auctionForm">
	<div class="bidForm col-sm-6">
		<form ng-model="thisAuctionEdit" ng-submit='saveChanges(thisAuctionEdit)'>
      		
			<div class="form-group">
      		  	<label class="yourBid">Your Bid:</label>
      		 	<input class="inputBid" ng-value="{{50}}" ng-model="thisAuctionEdit.highestBid.value" type="number" class="form-control currency">
      		  
      			<button type="button" class="btn btn-default bidBtn" ng-click='cancelEdit()'>Cancel Bid</button>
  				<button class="btn btn-default bidBtn">Save Bid</button>
      		</div>
 
    	</form>
    </div>	
</div> 

