

<h4>Welcome, user!</h4>

<div class="row well profileInfo">
	<div class="col-sm-5 col-sm-offset-1">
		<img class="profilePic" width="150" ng-src="{{profilePic}}" alt="">
		<h6>{{user.email}}</h6>
		<h6>{{user.username}}</h6>
		
	</div>
	<div class="col-sm-5 col-sm-offset-1">
		<h5>Here are your auctions, {{user.username}}.</h5>
		<h5>Good luck!</h5>
	</div>
</div>


<div class="row well tableRow">
	<div class="col-sm-10 col-sm-offset-1">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Item</th>
		      <th>Owner</th>
		      <th>Initial Bid</th>
		      <th>Highest Bid</th>
		      <th>Bid By</th>
		      <th>Expiration</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="auction in auctions">
		      <td>{{auction.item}}</td>
		      <td>{{auction.owner}}</td>
		      <td>{{auction.initialBid | currency}}</td>
		      <td>{{auction.highestBid.value | currency}}</td>
		      <td>{{auction.highestBid.user}}</td>
		      <td>{{auction.exp}}</td>
		  </tbody>
		</table>
	</div>
</div>