container {
	padding: 25px;
}

body {
	background-color: #e2e0e0;
}

h1 {
	margin-left: 10%;
	font-size: 86px;
	color: white;
	margin-top: 0%;
	font-weight: bold;
	font-family: 'Carter One', cursive;
}

.tagline {
	color: white;
	margin-left: 8%;
	margin-top: -5%;
	font-style: italic;
}

.header {
	background-color: #f91313;
	color: white;
}

.cardRow {
	margin-top: 2%;
}

h4 {

	font-size: 20px;
	color: #f91313;
	font-weight: bold;
	text-shadow: 1px 1px 2px gray;	
}

h5 {
	font-size: 18px;
	color: #808080;
/*	margin-top: 40%;*/
	float: right;
}

.card {
	color: black;
	background-color: white;
	display: block;
	text-align: center;
	box-shadow: 2px 2px 3px black;
	min-height: 400px;
	max-height: 400px;
}

.card-img-top {
	width: 100%;
	max-width: 300px;
	max-height: 230px;
	min-height: 230px;
}
h6 {
	font-size: 18px;
	color: #808080;
}

a.black:hover {
	color: #cccccc;
}

a.black:active {
	color: #cccccc;
}

.black {
	font-size: 24px;
	color: white;
	font-weight: bold;
	margin-top: 6%;
	float: right;
}


.profileInfo {
	margin-top: 3%;
}

.searchRow {
		margin-top: 3%;

}

.searchInput {
	width: 300px;
}
.searchBar {
	font-size: 20px;
	background-color: #f91313;
	padding-top: 7px;
	padding-right: -40px;
	border-radius: 6px;
}

.searchBox {
	color: white;
}

.profilePic {
	box-shadow: 3px 3px 3px black;
}

.detailInfo {
	color: #f91313;
	float: left;
	margin-left: 5%;
}

.addIt {
	color: white;
	float: left;
	margin-top: 5%;
	margin-left: 2%;
}

.editBtn {
	background-color: #f91313;
	float: right;
	margin-right: 12%;
	margin-top: 5%;
}

.removeBtn {
	background-color: #f91313;
	float: right;
	margin-right: 1%;
	margin-top: 5%;
}

.itemInfo {
	margin-top: 8%;
	color: white;
	margin-left: 5%;
}

.items {
	margin-top: 1%;
	font-size: 24px;
	color: white;
}

.card:hover { 
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.orange {
	color: #ff7200;
	font-size: 16px;

}

.imgWell {
	background-color: black;
	width: 290px;
	height: 450px;
}

.green {
	color: black;
}

.yourBid {
	color: #808080;
	font-size: 18px;
}

.bidBtn {
	background-color: #f91313;
	color: white;
}

.itemImage {
	max-width: 250px;
	min-width: 250px;
}

.inputBid {
	margin-left: 5%;
}
.red {
	color: red;
	margin-top: 10%;
}

.hello {
	color: white;
}

.profileRow {
	color: #808080;
	font-size: 18px;
}

thead {
	background-color: #f91313;
	color: white;
}

.tableRow {
	margin-top: 2%;
}

.formRow {
	margin-left: 8%;
}

.description {
	margin-left: 2%;
	color: white;
}

.searchBox {
	margin-bottom: 2%;
}

.expires {
	margin-top: 10%;
}

.well {
	box-shadow: 4px 4px 3px gray;
	background-color: #f91313;

}

.regular {
	color: black;
}

.greeting {
	margin-top: 5%;
}
